<style>
	video {
		max-width: 854px;
		max-height: 		100%;
	}
	div, .card {
		background-color: #336891;
		height: 	  100%;
	}
	.screen-2 button {
		position: 	absolute;
		margin-top: -13%;
	}

</style>
<div class="screen-2 row h-100">
	<div class='col-12 text-center h-100'>
		<div class='m-auto'> <!-- embed-responsive embed-responsive-4by3  -->
			<video width="854" height="480" autoplay class='embed-responsive-item m-auto'>  <!-- controls -->
			  <source src="img/trivisalva-welcome-video.mp4" type="video/mp4">
			  
					Your browser does not support the video tag.
			</video>
			<hr>
			<button onclick="moveToNextScreen();" class="btn btn-primary">
				Continúa
			</button>
		</div>
	</div>
</div>