
.board-svg-container {	
	height: 			100%;
	padding-top: 		30px;
	text-align: 		center;
}
.board-svg-container #board {
	height: 			100%;
}



@keyframes up {  
	0% 		{ opacity: 0; } 
	90% 	{ opacity: 0.6; } 
	100% 	{ opacity: 0; } 
}

.casilla_animada {
	animation: 	up 1.5s infinite;
	fill: 		white;
	stroke: 	black;
	stroke-width: 	2px;
}
.orange-bg { fill: orange; }


/*dice, el dado */
#dice {
	
}
#dice {}
#dice g { fill: black; }
@keyframes border-highlight {  
	0% 		{ stroke: white; } 
	90% 	{ opacity: black; } 
	100% 	{ opacity: white; } 
}
#dice.allow-roll {
	animation: 	border-highlight 1.5s infinite;
	fill: 		white;	
	stroke-width: 	2px;
}
@keyframes rotating {
  from { transform: rotate(0deg);  }
  to { transform: rotate(360deg);  }
}
.rotating {
  animation: rotating 0.1s linear infinite;
}




/*players*/
#current-player-info #current-player-panel {
	opacity: 	0.8;
}
.player #player-icon, .player #player-info {			
	-webkit-transition: all 2s; /* Safari */
	transition: 		all 2s;
}


/*the questions*/
.answered { font-weight: bold; }
.answered.g { color: green; }
.answered.b { color: red; }
.answered.countdown { color: red; }

/*genericos para svg*/
.transparent { fill: 	none; }
.transparent-and-border {
	fill: 	none;
	stroke: 	black;
	stroke-width: 	2px;
}










/*uncoverImagePlugin*/
.uncover-image-wrapper {

}

.uncover-image-wrapper .covered {
	border: 		1px solid gray;
}
.uncover-image-wrapper .uncovered {
	border: 		1px solid transparent;	
}
.uncover-image-wrapper .uncovered img {
	opacity: 	0;
}